@import "tailwindcss";

@keyframes spin-kf {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@layer utilities {
  .animate-spin-slow {
    animation: spin-kf 4s linear infinite;
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: 'LABDigital';
  src: url('/LABDigital.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Custom Scrollbar Styles */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #0D102D; /* 모달 배경과 유사한 색상 */
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #1ACFF8; /* 테두리 및 포인트 색상 */
  border-radius: 10px;
  border: 2px solid #0D102D; /* 트랙과 동일한 색상으로 여백 효과 */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #4ef8ff; /* 호버 시 약간 더 밝은 색상 */
}
